@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+3:wght@300&family=Source+Sans+Pro:wght@300;900&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: rgb(243, 243, 243);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center ;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 70px;
}
.canvas{
    width: 1000px;
    height: 700px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.controls{
    display: flex;
    align-items: center;
}
.controlsWrap{
    display: flex;
    flex-direction: column;
}
.controls__btns{
    display: flex;
    flex-direction: column;
}
.controls__btns button{
    all: unset;
    cursor: pointer;
    background-color: #fff;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: 15px 0px;
    text-align: center;
    font-size: 1.5em;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    color: #343434;
}
.controls__btns button:hover{
    transform:scale(1.1);
    transition: all 0.2s ease-in-out;
}
.controls__btns button:active{
    transform:scale(0.97);
}

.controls__range{
    margin-bottom: 30px;
}

.controls__colors{
    display: flex;
    flex-direction: column;
    margin-left:50px;
}
.controls__color{
    width:50px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}